{% extends 'br_email/base.html' %}
{% block content %}
{% load static %}


   <div class="internal-header">

		<div class="img-container has-background-image has-title">

			<div class="internal-title hero-title">
                <h3><b>Welcome to RaceReminder</b></h3>
            </div>
		</div>

    </div>

<div class="container">
    <div class="content-section">
    <h5 class="heading-home"><b><span class="underline">Who</span></b></h5>
       <p>Ever miss a race because you forgot to check BikeReg? Or maybe a race popped
           up after you last had a look? Do you think regular notifications about races would make your life just a little
           better?
       </p>
       <p class="text-justify">If the answer is YES to any of the above, RaceReminder is for you.
       </p>
<!-- <hr> -->
        <h5 class="heading-home pt-3"><b><span class="underline">What</span></b></h5>
       <p class="text-justify">RaceReminder sends you email notifications about upcoming races. That's it.
       </p>

        <!-- <hr> -->
        <h5 class="heading-home pt-3"><b><span class="underline">How</span></b></h5>
       <p class="text-justify">Simply register an account and fill out our distribution form. If you're familiar with
           BikeReg, the form questions will make sense. The key is to let us know the day and how frequently
           you'd like to be notified about upcoming races. Then you'll be race reminded.
       </p>
      <p class="text-justify">Tired of your current settings? That's fine. Update any time.
       </p>
        <!-- <hr> -->
        <h5 class="heading-home pt-3"><b><span class="underline">Why</span></b></h5>
       <p class="text-justify">Why not? We love to race. You love to race. We all love when more people race.
           Let's keep the sport thriving.
       </p>


    </div>
    </div>


{% endblock content %}
