{% extends 'br_email/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="internal-header">

    <div class="img-container has-background-image has-title">

        <div class="internal-title hero-form">
            <h6><b>RaceReminder</b></h6>
        </div>
    </div>
</div>

<div class = "container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <h4 class="form-title">
                        <span> <b> Reset Password </b></span>
                    </h4>
                </legend>
                  <div class="form-group col-md-6 mb-0">
                    {{ form|crispy }}
                  </div>

            </fieldset>
            <div class="form-group pl-3">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>

    </div>
</div>
{% endblock content %}